.settings-wrapper {
  width: 100%;
  min-height: 100vh;
}

.settings-content{
    padding-top: 5%;
    margin-bottom: 30px;
    width: 70%;
    margin: 0 auto;
}

.form-input {
  width: 100%;
}

.form-input input {
  border: 1px solid var(--border-color);
}

@media screen and (max-width: 768px){
    html,
  body {
    overflow-x: hidden;
  }
  .settings-content{
    padding-top: 20%;
  }
}