.subscription-wrapper{
    width: 100%;
    min-height: 150vh;
}

.subscription-content{
    width: 70%;
    margin: 0 auto;
    padding-top: 120px;
}

.subscription-content-menu ul{
    border:1px solid var(--border-color);
    border-radius: 5px;
    background-color: #ffff;
    cursor: pointer;
}

.subscription-content-menu ul li{
    padding:15px 20px;
    border-bottom: 1px solid var(--border-color);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-primary);
}

.subscription-content-menu ul li:hover{
    background-color: #d3d3d3;
}

.subscription-table{
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}


@media screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }

    .subscription-wrapper {
        padding: 0 20px;
    }

    .subscription-content {
        width: 100%;
        margin: 0;
    }

    /* Hide the sidebar on mobile */
    .subscription-content-wrapper-menu {
        display: none;
    }

    /* Change flex to column so content stacks */
    .subscription-content-wrapper {
        flex-direction: column;
    }

    .subscription-table table{
        width: 100%;
        overflow-x: auto;
    }

    .action-btn{
        display: flex;
        flex-direction: row;
    }
}